
.btn {
  padding: 0.75em 1.5em;
  border-radius: 0 20px 0 20px;
  font-weight: 600;
  display: inline-block;
  margin: 1.5em 0.5em 1em 0.5em;
  transition: ease all 500ms;
}

.btn--primary {
  background: var(--color-orange);
  color: var(--color-white);
  border: 1px solid var(--color-orange);

  &:hover {
    background: #e16f36;
  }
}

.btn--outline {
  border: 1px solid var(--foreground);
  color: var(--foreground);

  &:hover {
    background: var(--foreground);
    color: var(--color-white);
  }
}