
// Menu Icon animation 
.menu-icon {
  width: 30px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.bar {
  fill: var(--color-foreground);
  transform-origin: center;
  transition:
    transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    opacity 0.3s ease;
}

/* Animate to X */
.menu-icon.active .top {
  transform: translate(5px, 20px) rotate(45deg) scaleX(1.6);
}

.menu-icon.active .middle {
  opacity: 0;
}

.menu-icon.active .bottom {
  transform: translate(-19px, 3px) rotate(-45deg) scaleX(1.6);
}

