.text-component {
    color: var(--color-dark-gray);
  p {
    margin-bottom: 1.2rem;
    font-size: var(--text-base);
  }
}

h1 {
  font-size: var(--text-3xl);
  line-height: var(--leading-none);
  margin-bottom: var(--space-5);
  font-family: var(--font-sans);
  // text-transform: uppercase;
  font-weight: 500;

  @media (min-width: 640px) {
    font-size: var(--text-5xl);
  }
}

h2 {
  font-size: var(--text-2xl);
  line-height: var(--leading-none);
  margin-bottom: var(--space-5);
  font-family: var(--font-sans);
  // text-transform: uppercase;
  font-weight: 500;

    @media (min-width: 640px) {
        font-size: var(--text-4xl);
      }
}

h3 {
  font-size: var(--text-xl);
  line-height: var(--leading-none);
  font-family: var(--font-sans);
  // text-transform: uppercase;
  font-weight: 500;

      @media (min-width: 640px) {
          font-size: var(--text-2xl);
        }
}
h4 {
  font-size: var(--text-xl);
  line-height: var(--leading-none);
  margin-bottom: var(--space-5);
  font-family: var(--font-sans);
  // text-transform: uppercase;
  font-weight: 500;


      @media (min-width: 640px) {
          font-size: var(--text-2xl);
        }
}

h5 {
  font-size: var(--text-md);
  line-height: var(--leading-tight);
  margin-bottom: var(--space-5);
  font-family: var(--font-sans);
  // text-transform: uppercase;
  font-weight: 500;

      @media (min-width: 640px) {
          font-size: var(--text-xl);
        }
}

.text-base{
font-size: var(--text-sm);
      @media (min-width: 640px) {
        font-size: var(--text-base);
        }
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-foreground);
  font-weight: 500;
}

.text-xxs{
  font-size: 11px;
}
.link {
  font-size: 14px;
  text-decoration: none;
  background-image: linear-gradient(to right,
      currentColor 50%,
      var(--color-gray) 50%);
  background-size: 200% 1px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  transition: background-position 0.2s;

  &:hover {
    background-position: 0% 100%;
  }
}

.contact-link {
  color: var(--foreground);
  font-size: var(--text-base);
}

ul{
  margin-bottom: 2em;
  list-style-type: disc;
  margin-left: 1em;
}

.privacy-policy-page, .terms-of-use-page{
  h3{
    font-size: 22px;
    margin-bottom: 0.25em;
  }

  p{
    display: block;
    position: relative;
    margin-bottom: 1.5em ;
  }
}